.godot
dist/
.import/
*.translation
.mono/
CLAUDE.md
# Flatpak
.flatpak-builder/
repo/

# CI
tools/


# nested project
museum-of-all-things-mm-main - Voting System - New Vote UI WORKS AND LEADERBOARD CAREFUL DON'T TOUCH/
Test Export/